# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
.coverage
.pytest_cache/

# uv
uv.lock
.python-version

# Environments
.venv/
.env
.env.test

# ruff
.ruff_cache/

# mypy
.mypy_cache/

# IDE settings
.idea/
